/* DatingAssistantV.module.css */
.group {
    position: relative;
    height: 56vh;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px dashed #9333EA;
    background-image: linear-gradient(to right, #F3E8FF, #E5E7EB);
    transition: border-color 0.3s ease;
  }
  
  .group:hover {
    border-color: #7C3AED;
  }
  
  .group.dark {
    border-color: #6B7280;
    background-image: linear-gradient(to right, #1F2937, #374151);
  }
  
  .group.dark:hover {
    border-color: #E5E7EB;
  }
  
  .imagePreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
  }
  
  .ImageIcon {
    z-index: 10;
    color: #9333EA;
    transition: color 0.3s ease;
  }
  
  .ImageIcon.group-hover {
    color: #7C3AED;
  }
  
  .ImageIcon.dark {
    color: #D1D5DB;
  }
  
  .ImageIcon.dark.group-hover {
    color: #E5E7EB;
  }
  